.widget {
    background-color: #121212;
    padding: 10px;
}

#katex_box {
    display: flex;
    flex-direction: column
}

#katex_box > button {
    border: none;
    background-color: #3333CC;
    color: #EFEFEF;
    transition-duration: 0.2s;
}

#katex_box > button[disabled]:hover {
    border: none;
    background-color: #2222BB;
    color: #EFEFEF;
}
#katex_box > button[disabled] {
    border: none;
    background-color: #2222BB;
    color: #EFEFEF;
}

#katex_box > button:hover {
    background-color: #33FF33;
    color: #1E1E1E;
}

#katex_out {
    margin: 5px;
}
